.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  flex-direction: column;
  gap: 30px;

  &__center {
    width: 500px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

