.show-cell {
    background-color: #252525;
    border-left: 1px solid #5b5b5b !important;
    border-right: 1px solid #5b5b5b !important;
    border-bottom: 1px solid #5b5b5b !important;

    display: flex;
    justify-content: center;
    align-items: center;
}